@charset "UTF-8";

:root{
    --color-oscuro: #000000;
    --color-claro: #ffffff;
    --color-enlace: #51519e;
    --color-enlace-claro: hsl(240, 12%, 58%);

    /*Valores principales, modifican los colores secundarios*/
    --tono-secundario: 50;
    --saturacion: 50%;
    --luminosidad-secundario: 83%;
    --separacion-secundario: 5%;
    
    --color-secundario: hsl(var(--tono-secundario), var(--saturacion), var(--luminosidad-secundario));
    --color-secundario-claro: hsl(var(--tono-secundario), var(--saturacion), calc(var(--luminosidad-secundario) + var(--separacion-secundario)));
    --color-secundario-oscuro: hsl(var(--tono-secundario), var(--saturacion), calc(var(--luminosidad-secundario) - var(--separacion-secundario)));

    --fuente: Verdana, Geneva, Tahoma, sans-serif;
    --fuente_titulo: Arial, Helvetica, sans-serif;
    --fuente-codigo: 'consolas', monospace;
    --tamano-letra-menu: 1.2rem;
    --margen:0.5rem;
    --margen-grande: calc(var(--margen) * 2);

    --redondeado: 0.5rem;

    --borde: 1px, solid, var(--color-secundario-oscuro);
}

/*Etiquetas genéricas*/
html{
    font-size: 20px;
}
body{
    font-family: var(--fuente);
    margin: 0; 
}
main{
    padding: var(--margen);
}
header{
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    padding: var(--margen);
    & h1{
        margin: 0;
        color: var(--color-claro);
        font-family: var(--fuente_titulo);
        text-align: center;
    }
}
a {
    color: var(--color-enlace-claro);
    text-decoration: none;

    &:before{
        content: '[';
       
    }
    &:after{
        content: ']';
    }

    &:after, &:before{
        visibility: hidden;
        color: var(--color-enlace);
    }
    &:hover{
        background-color: var(--color-claro);
        color: var(--color-enlace);
        &::before, &::after{
            visibility: visible;
            opacity: 0.5;
        }
        
    }
}
body>nav{
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    padding: var(--margen);
    text-align: center;
    & a{
        display:inline-block;
        font-size: var(--tamano-letra-menu);
        margin: 0 var(--margen);
        padding: var(--margen);
    }
    & ul{
        padding: 0;
        list-style-type: none;
    }
}

h2, h3, h4, h5, h6{
    color: var(--color-oscuro);
    font-family: var(--fuente_titulo);
}
p{
    line-height: calc(1rem + var(--margen));
    margin: var(--margen-grande, 0);
}
pre{
    overflow: auto;
    font-family: var(--fuente-codigo);
    background-color: var(--color-secundario-claro);
    padding: var(--margen);
    border-radius: var(--redondeado) var(--redondeado) 0 0;
    border: var(--borde);

    scrollbar-width: thin;
}
img, audio, video, iframe{
    border:0;
    width: 100%;
    height: auto;
}
h2, h3{
    &::before{
        content: '<';
    }
    &::after{
        content: '>';
    }
    &::before, &::after{
        color: var(--color-secundario-oscuro);
    } 
    
}
table{
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    td, th{
        border: var(--borde);
        padding: var(--margen);
        text-align: start;
    }
    & tr:nth-of-type(odd){
        background-color: var(--color-secundario-claro);
    }
    & caption{
        font-weight: bold;
        font-style: italic;
        background-color: var(--color-secundario-claro);
        padding: var(--margen);
    }
}
td, th{
    &:first-child, &:last-child{
        text-align: end;
    }
}

/*Etiquetas específicas*/
.destacado{
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
}
#enlaces{
    ul{
        padding: 0;
    }
    li{
        margin: var(--margen);
        list-style: none;

    }
}
dt{
    font-weight: bold;
    margin: var(--margen) 0;
}
dd{
    margin: 0 0 var(--margen-grande)
}
