@charset "UTF-8";

:root{
    --color-oscuro: #000000;
    --color-claro: #ffffff;
    --color-enlace: #51519e;
    --color-enlace-claro: hsl(240, 12%, 58%);

    /*Valores principales, modifican los colores secundarios*/
    --tono-secundario: 50;
    --saturacion: 50%;
    --luminosidad-secundario: 83%;
    --separacion-secundario: 5%;
    
    --color-secundario: hsl(var(--tono-secundario), var(--saturacion), var(--luminosidad-secundario));
    --color-secundario-claro: hsl(var(--tono-secundario), var(--saturacion), calc(var(--luminosidad-secundario) + var(--separacion-secundario)));
    --color-secundario-oscuro: hsl(var(--tono-secundario), var(--saturacion), calc(var(--luminosidad-secundario) - var(--separacion-secundario)));

    --fuente: Verdana, Geneva, Tahoma, sans-serif;
    --fuente_titulo: Arial, Helvetica, sans-serif;
    --fuente-codigo: 'consolas', monospace;
    --tamano-letra-menu: 1.2rem;
    --margen:0.5rem;
    --margen-grande: calc(var(--margen) * 2);

    --redondeado: 0.5rem;

    --borde: 1px, solid, var(--color-secundario-oscuro);
}

/*Etiquetas genéricas*/
html{
    font-size: 20px;
}
body{
    font-family: var(--fuente);
    margin: 0; 
}
main{
    padding: var(--margen);
}
header{
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    padding: var(--margen);
    & h1{
        margin: 0;
        color: var(--color-claro);
        font-family: var(--fuente_titulo);
        text-align: center;
    }
}
a:not(.note-editor) {
    color: var(--color-enlace-claro);
    text-decoration: none;

    &:before:not(.note-editor){
        content: '[';
       
    }
    &:after:not(.note-editor){
        content: ']';
    }

    &:after:not(.note-editor), &:before:not(.note-editor){
        visibility: hidden;
        color: var(--color-enlace);
    }
    &:hover{
        background-color: var(--color-claro);
        color: var(--color-enlace);
        &::before, &::after{
            visibility: visible;
            opacity: 0.5;
        }
        
    }
}
body>nav{
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    padding: var(--margen);
    text-align: center;
    & a{
        display:inline-block;
        font-size: var(--tamano-letra-menu);
        margin: 0 var(--margen);
        padding: var(--margen);
    }
    & ul{
        padding: 0;
        list-style-type: none;
    }
}

h2, h3, h4, h5, h6{
    color: var(--color-oscuro);
    font-family: var(--fuente_titulo);
}
p{
    line-height: calc(1rem + var(--margen));
    margin: var(--margen-grande, 0);
}
pre{
    overflow: auto;
    font-family: var(--fuente-codigo);
    background-color: var(--color-secundario-claro);
    padding: var(--margen);
    border-radius: var(--redondeado) var(--redondeado) 0 0;
    border: var(--borde);

    scrollbar-width: thin;
}
img, video, audio, iframe{
    border:0;
    width: 100%;
    /*margin: var(--margen-grande) 0;*/
}

img, video, iframe{
    border-radius: var(--redondeado);
    border:var(--borde);
}
.proporcion{
    position:relative;

    /*Coge la proporción del ancho para darselo al alto, 
    en este caso 16/9. Sirve para que los iFrame se agranden 
    proporcionalmente al agrandar la pantalla*/
    padding-bottom: calc(9/16 * 100%); 

    & iframe{
        position:absolute;
        top: 0;
        left:0;

        width: 100%;
        height: 100%;
    }
    &.p16x9{
        padding-bottom: calc(9/16 * 100%);
    }
    &.p4x3{
        padding-bottom: calc(3/4 * 100%);
    }
    &.p1x1{
        padding-bottom: 100%;
    }
}

h2, h3{
    &::before{
        content: '<';
    }
    &::after{
        content: '>';
    }
    &::before, &::after{
        color: var(--color-secundario-oscuro);
    } 
    
}
table{
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    td, th{
        border: var(--borde);
        padding: var(--margen);
        text-align: start;
    }
    & tr:nth-of-type(odd){
        background-color: var(--color-secundario-claro);
    }
    & caption{
        font-weight: bold;
        font-style: italic;
        background-color: var(--color-secundario-claro);
        padding: var(--margen);
    }
}
td, th{
    &:first-child, &:last-child{
        text-align: end;
    }
}
fieldset, input, .botonEnviar{
    border: var(--borde);
    border-radius: var(--redondeado);
    padding: var(--margen);
    margin: var(--margen) 0;
    width: 100%;
}
aside{
    background-color: var(--color-secundario-claro);
    border: var(--borde);
    padding: var(--margen);
    margin: var(--margen) 0, 0, 0;
    & li{
        text-align: center;
    }
}
footer{
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    padding: var(--margen);
    text-align: center;
}

/*RESETEO*/

*{
    box-sizing: border-box;
}

/*Etiquetas específicas*/
.destacado{
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
}
#enlaces{
    ul{
        padding: 0;
    }
    li{
        margin: var(--margen);
        list-style: none;

    }
}
dt{
    font-weight: bold;
    margin: var(--margen) 0;
}
dd{
    margin: 0 0 var(--margen-grande)
}
#multimedia>*, #iframes>*{
    margin: var(--margen-grande) 0;
    display: block;
}

#arriba{
    position: fixed;
    bottom: 10%;
    right: 10%;
    & a{
        background-color: var(--color-secundario-claro);
        color: var(--color-oscuro);
        padding: var(--margen);
        border: var(--borde);
        border-radius: var(--redondeado);
        text-decoration: none;
        display: block;
        box-shadow:  0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);

        &:hover{
            background-color: var(--color-secundario);
            text-decoration: none;
        }
        &::after, &::before{
            content: '';
        }
    }
    
}
#checksContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-end; 
    & input{
        cursor: pointer;
    }
    
}
.checkboxContainer{ 
    margin: var(--margen);
    border: var(--borde);
    width: 100%;
    padding: var(--margen);
}
.peliculasContainer{
    border: var(--borde);
    & p{
        display:inline;
        width: 100%;
        text-align: center;
        margin: var(--margen);
        font-weight: bold;
        font-size: calc(var(--tamano-letra-menu) * 0.75);
    }
    & label, input{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: var(--margen);
    }
    & * {
        border: var(--borde);
    }
}
