@font-face {
    font-family: 'Roboto Flex';
    src: url(../Fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}
    @font-face {
    font-family: 'Tektur';
    src: url(../Fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Domine';
    src: url(../Fonts/Domine/Domine-VariableFont_wght.ttf);
}
